<link rel="stylesheet" type="text/css" href="./css/add.css">
<link rel="stylesheet" type="text/css" href="./js/Swiper/dist/css/swiper.min.css">
<div id="wrap">
	<header class="header">
		<h1>社区</h1>
		<span class="myset" data-html="myself" ui-sref="myself">个人</span>
	</header>
	<div class="subnav" id="subnav">
		<span id="topic" data-html="topic">话题</span>
		<span id="choice" data-html="choice">精选</span>
		<span id="friend" data-html="friend">好友</span>
	</div>
	<main class="main" id="main">
		<div id="banner" class="swiper-container">
			<div class="swiper-wrapper">
				<section class="swiper-slide topic" id="topic">
					<div class="scroll">
						<div class="add">
							<span><img src="img/myhead.png"></span>
							<h3>快来登陆玩转社区吧</h3>
							<span><img src="img/right.png"></span>
						</div>
						<p>推荐话题</p>
						<dl>
							<dt><img src="img/add1.png"></dt>
							<dd>
								<h1>综合体育</h1>
								<h2>聚焦各项体育赛事</h2>
								<img src="img/add.png">
							</dd>
						</dl>
						<dl>
							<dt><img src="img/add2.png"></dt>
							<dd>
								<h1>数码脑残粉</h1>
								<h2>聚焦各项体育赛事</h2>
								<img src="img/add.png">
							</dd>
						</dl>
						<dl>
							<dt><img src="img/add3.png"></dt>
							<dd>
								<h1>电影圈</h1>
								<h2>聚焦各项体育赛事</h2>
								<img src="img/add.png">
							</dd>
						</dl>
						<dl>
							<dt><img src="img/add4.png"></dt>
							<dd>
								<h1>健身房</h1>
								<h2>聚焦各项体育赛事</h2>
								<img src="img/add.png">
							</dd>
						</dl>
						<dl>
							<dt><img src="img/add5.png"></dt>
							<dd>
								<h1>颤抖吧，吃货！</h1>
								<h2>聚焦各项体育赛事</h2>
								<img src="img/add.png">
							</dd>
						</dl>
						<dl>
							<dt><img src="img/add1.png"></dt>
							<dd>
								<h1>综合体育</h1>
								<h2>聚焦各项体育赛事</h2>
								<img src="img/add.png">
							</dd>
						</dl>
						<dl>
							<dt><img src="img/add2.png"></dt>
							<dd>
								<h1>综合体育</h1>
								<h2>聚焦各项体育赛事</h2>
								<img src="img/add.png">
							</dd>
						</dl>
						<dl>
							<dt><img src="img/add3.png"></dt>
							<dd>
								<h1>综合体育</h1>
								<h2>聚焦各项体育赛事</h2>
								<img src="img/add.png">
							</dd>
						</dl>
						<dl>
							<dt><img src="img/add4.png"></dt>
							<dd>
								<h1>综合体育</h1>
								<h2>聚焦各项体育赛事</h2>
								<img src="img/add.png">
							</dd>
						</dl>
						<dl>
							<dt><img src="img/add5.png"></dt>
							<dd>
								<h1>综合体育</h1>
								<h2>聚焦各项体育赛事</h2>
								<img src="img/add.png">
							</dd>
						</dl>
					</div>
				</section>
				<section class="swiper-slide choice" id="choice">
					<div class="c_cont1">
						<p><img src="img/jingx1.png"></p>
						<p><span>下一站守候</span><br><span>13分钟前</span></p>
						<p>#物质董小姐的精神生后</p>
					</div>
					<h1>用一句古诗说我爱你</h1>
					<dl>
						<dt>
							<img src="img/shou.png">
						</dt>
						<dd>
							<p><span><img src="img/j1.png"></span><span>2.7k</span></p>
							<p><span><img src="img/j2.png"></span><span>54</span></p>
							<p><span><img src="img/j3.png"></span><span>6</span></p>
						</dd>
					</dl>
					<dl>
						<dt>
							<img src="img/shou.png">
						</dt>
						<dd>
							<p><span><img src="img/j1.png"></span><span>2.7k</span></p>
							<p><span><img src="img/j2.png"></span><span>54</span></p>
							<p><span><img src="img/j3.png"></span><span>6</span></p>
						</dd>
					</dl>
				</section>
				<section class="swiper-slide friend" id="friend">
					<div class="add">
						<span><img src="img/myhead.png"></span>
						<h3>登陆查看我的好友圈动态</h3>
						<span><img src="img/right.png"></span>
					</div>
					<div class="c_cont1">
						<p><img src="img/j4.png"></p>
						<p><span>*Mranda*</span><br><span>13分钟前</span><span>发表了帖子</span></p>
						<p><input type="radio" id="atten" name="radio"><label for="atten"></label></p>
					</div>
					<h1>纯金色的SK-Ⅱ流金臻致系列:(刚于9月21日在日本上市),纯金色的SK-Ⅱ流金臻致系列:(刚于9月21日在日本上市),纯金色的SK-Ⅱ流金臻致系列:(刚于9月21日在日本上市),纯金色的SK-Ⅱ流金臻致系列:(刚于9月21日在日本上市),..<span>查看全文</span></h1>
					<dl>
						<dt>
							<h3><img src="img/friend1.png"></h3>
							<h3><img src="img/friend2.png"></h3>
						</dt>
						<dd>
							<p><span><img src="img/j1.png"></span><span>2.7k</span></p>
							<p><span><img src="img/j2.png"></span><span>54</span></p>
							<p><span><img src="img/j3.png"></span><span>6</span></p>
						</dd>
					</dl>

					<div class="c_cont1">
						<p><img src="img/j4.png"></p>
						<p><span>*Mranda*</span><br><span>13分钟前</span><span>发表了帖子</span></p>
						<p><input type="radio" id="atten" name="radio"><label for="atten"></label></p>
					</div>
					<h1>纯金色的SK-Ⅱ流金臻致系列:(刚于9月21日在日本上市),纯金色的SK-Ⅱ流金臻致系列:(刚于9月21日在日本上市),纯金色的SK-Ⅱ流金臻致系列:(刚于9月21日在日本上市),纯金色的SK-Ⅱ流金臻致系列:(刚于9月21日在日本上市),..<span>查看全文</span></h1>
					<dl>
						<dt>
							<h3><img src="img/friend1.png"></h3>
							<h3><img src="img/friend2.png"></h3>
						</dt>
						<dd>
							<p><span><img src="img/j1.png"></span><span>2.7k</span></p>
							<p><span><img src="img/j2.png"></span><span>54</span></p>
							<p><span><img src="img/j3.png"></span><span>6</span></p>
						</dd>
					</dl>
				</section>
			</div>
		</div>
	</main>
	<footer class="footer">
		<nav class="nav" id="footer">
			<a ui-sref="index"><img src="img/f11.png"><br>订阅</a>
			<a ui-sref="hot"><img src="img/f2.png"><br>热点</a>
			<a ui-sref="bei"><img src="img/f3.png"><br>北京</a>
			<a ui-sref="play"><img src="img/f4.png"><br>玩乐</a>
			<a ui-sref="add" class="on"><img src="img/f55.png"><br>社区</a>
		</nav>
	</footer>
</div>

	<script src="js/fontSize.js"></script>
	<script src="js/zepto.min.js"></script>
	<script src="js/swiper.min.js"></script>
	<script src="js/iscroll5.js"></script>