<link rel="stylesheet" type="text/css" href="./css/bei.css">
<div id="wrap">
	<header class="header">
		<h1>北京</h1>
		<span class="search" data-html="search" ui-sref="search">搜索</span>
		<span class="myset" data-html="myself" ui-sref="myself">个人</span>
	</header>
	<main class="main" id="main">
		<div class="scroll" bei-a>
			<div class="subnav">
				<span data-html="weather"><img src="img/weather.png">天气</span>
				<span data-html="map" ui-sref="bei_map"><img src="img/map.png">地图</span>
				<span data-html="house"><img src="img/house.png">房产</span>
			</div>
		 	<!-- <div class="cont" ng-repeat="i in data.bei_list">
		 					<h1><b>{{i.title}}</b><br><b>观察者网</b><b>1小时前</b></h1>
		 					<div class="pic"><img src="{{i.pic}}"></div>
		 				</div> -->
			<!-- <div class="cont">
				<h1><b>15位奥运冠军受邀访台 都有谁？</b><br><b>观察者网</b><b>1小时前</b></h1>
				<div class="pic"><img src="img/pic2.png"></div>
			</div>
			<div class="cont">
				<h1><b>服务员叼香烟收盘 大堂经理称不知情</b><br><b>视觉中国</b><b>1小时前</b></h1>
				<div class="pic"><img src="img/pic3.png"></div>
			</div>
			<div class="cont">
				<h1><b>太原动物园的熊猫居然在吃垃圾？！</b><br><b>观察者网</b><b>1小时前</b></h1>
				<div class="pic"><img src="img/pic5.png"></div>
			</div>
			<div class="cont">
				<h1><b>春雨医生创始人张锐今日凌晨心梗去世</b><br><b>虎嗅网</b><b>1小时前</b></h1>
				<div class="pic"><img src="img/pic6.png"></div>
			</div>
			<div class="cont">
				<h1><b>韩国遭台风袭击 汽车被掀上树</b><br><b>视觉中国</b><b>1小时前</b></h1>
				<div class="pic"><img src="img/pic1.png"></div>
			</div>
			<div class="cont">
				<h1><b>服务员叼香烟收盘 大堂经理称不知情</b><br><b>视觉中国</b><b>1小时前</b></h1>
				<div class="pic"><img src="img/pic4.png"></div>
			</div>
			<div class="cont">
				<h1><b>韩国遭台风袭击 汽车被掀上树</b><br><b>视觉中国</b><b>1小时前</b></h1>
				<div class="pic"><img src="img/pic2.png"></div>
			</div>
			<div class="cont">
				<h1><b>服务员叼香烟收盘 大堂经理称不知情</b><br><b>视觉中国</b><b>1小时前</b></h1>
				<div class="pic"><img src="img/pic6.png"></div>
			</div>
			<div class="cont">
				<h1><b>韩国遭台风袭击 汽车被掀上树</b><br><b>视觉中国</b><b>1小时前</b></h1>
				<div class="pic"><img src="img/pic1.png"></div>
			</div> -->
			<!-- <div class="cont">
				<section class="weather" id="weather">1</section>
				<section class="map" id="map">2</section>
				<section class="house" id="house">3</section>
			</div> -->
		</div>
	</main>
	<footer class="footer">
		<nav class="nav" id="footer">
			<a ui-sref="index"><img src="img/f11.png"><br>订阅</a>
			<a ui-sref="hot"><img src="img/f2.png"><br>热点</a>
			<a ui-sref="bei" class="on"><img src="img/f33.png"><br>北京</a>
			<a ui-sref="play"><img src="img/f4.png"><br>玩乐</a>
			<a ui-sref="add"><img src="img/f5.png"><br>社区</a>
		</nav>
	</footer>
</div>
	<script src="js/fontSize.js"></script>
	<script src="js/zepto.min.js"></script>
	<script src="js/iscroll5.js"></script>