<link rel="stylesheet" type="text/css" href="css/bei_map.css">

<div id="wrap">
	<header class="header">
		<h1>腾讯地图</h1>
		<span id="back" ui-sref="bei">返回</span>
		<span id="more">更多</span>
	</header>
	<main class="main" id="main">
		<div class="scroll">
			<div class="tengx">
				<span><img src="img/tengx.png"></span>
				<span>腾讯地图</span>
			</div>
			<div class="search">
				<input type="text" placeholder="搜索地点、公交、城市">
				<img src="img/voice.png" alt="" class="voice">
			</div>
			<div class="nav">
				<span><img src="img/map1.png">地图</span>
				<span><img src="img/map2.png">附近</span>
				<span><img src="img/map3.png">路线</span>
			</div>
			<div class="footnav">
				<dl>
					<dt><img src="img/map5.png"></dt>
					<dd>美食</dd>
				</dl>
				<dl>
					<dt><img src="img/map4.png"></dt>
					<dd>酒店</dd>
				</dl>
				<dl>
					<dt><img src="img/map6.png"></dt>
					<dd>公交</dd>
				</dl>
				<dl>
					<dt><img src="img/map7.png"></dt>
					<dd>地铁</dd>
				</dl>
			</div>
		</div>
	</main>
</div>