<link rel="stylesheet" type="text/css" href="./css/hot.css">
<div id="wrap">
	<header class="header">
		<h1>热点</h1>
		<span class="write" data-html="write" ui-sref="hot_write">写</span>
		<span class="myset" data-html="myself" ui-sref="myself">个人</span>
	</header>
	<main class="main" id="main">
		<div class="scroll" hot-a>
			<!-- <dl ng-repeat="i in data.hot_list" class="cont" data-two="two_3" ui-sref="hot_n1">
				<h1><b>{{i.title}}</b><br><b>1小时前</b></h1>
				<div class="pic"><img src="{{i.pic}}"></div>
			</dl> -->
			<!-- <dl class="cont" data-two="two_3" ui-sref="hot_n1">
				<h1><b>韩国遭台风袭击 汽车被掀上树</b><br><b>1小时前</b></h1>
				<div class="pic"><img src="img/pic1.png"></div>
			</dl>
			<dl class="cont">
				<h1><b>韩国遭台风袭击 汽车被掀上树汽车被掀上树汽车被掀上树</b><br><b>1小时前</b></h1>
			</dl>
			<dl class="cont">
				<h1><b>7天19城密集调控楼市 房价会降吗?</b><br><b>1小时前</b></h1>
				<div class="pic"><img src="img/pic2.png"></div>
			</dl>
			<dl class="cont">
				<h1><b>服务员叼香烟收盘 大堂经理称不知情</b><br><b>1小时前</b></h1>
				<div class="pic"><img src="img/pic3.png"></div>
			</dl>
			<dl class="cont">
				<h1><b>服务员叼香烟收盘 大堂经理称不知情</b><br><b>1小时前</b></h1>
			</dl>
			<dl class="cont">
				<h1><b>7天19城密集调控楼市 房价会降吗?</b><br><b>1小时前</b></h1>
				<div class="pic"><img src="img/pic4.png"></div>
			</dl>
			<dl class="cont">
				<h1><b>服务员叼香烟收盘 大堂经理称不知情</b><br><b>1小时前</b></h1>
				<div class="pic"><img src="img/pic5.png"></div>
			</dl>
			<dl class="cont">
				<h1><b>服务员叼香烟收盘 大堂经理称不知情</b><br><b>1小时前</b></h1>
				<div class="pic"><img src="img/pic6.png"></div>
			</dl>
			<dl class="cont">
				<h1><b>7天19城密集调控楼市 房价会降吗?</b><br><b>1小时前</b></h1>
				<div class="pic"><img src="img/pic1.png"></div>
			</dl>
			<dl class="cont">
				<h1><b>服务员叼香烟收盘 大堂经理称不知情</b><br><b>1小时前</b></h1>
				<div class="pic"><img src="img/pic2.png"></div>
			</dl> -->
		</div>
	</main>
	<footer class="footer">
		<nav class="nav" id="footer">
			<a ui-sref="index"><img src="img/f11.png"><br>订阅</a>
			<a ui-sref="hot" class="on"><img src="img/f22.png"><br>热点</a>
			<a ui-sref="bei"><img src="img/f3.png"><br>北京</a>
			<a ui-sref="play"><img src="img/f4.png"><br>玩乐</a>
			<a ui-sref="add"><img src="img/f5.png"><br>社区</a>
		</nav>
	</footer>
</div>
