<link rel="stylesheet" type="text/css" href="css/hot_n1.css">
<link rel="stylesheet" type="text/css" href="css/swiper.min.css">

<div id="wrap">
	<header class="header">
		<span id="back" ui-sref="hot">返回</span>
		<span data-html="zan">赞</span>
		<span data-html="fenx">分享</span>
		<span data-html="more">更多</span>
	</header>
	<main class="main" id="main">
		<div class="scroll">
			<div class="title">
				<span>摄影师用灯光滤镜拍摄鳄鱼 古老生物斑斓背景下留影</span><br><span>GQ男士</span><span>3小时前</span>
			</div>
			<p>卖房创业七年后，现在却买不起房,卖房创业七年后，现在却买不起房。现在却买不起房现在却买不起房现在却买不起房，现在却买不起房。卖房创业七年后，现在却买不起房,现在却买不起房现在却买不起房现在却买不起房，现在却买不起房。卖房创业七年后，现在却买不起房,卖房创业七年后，现在却买不起房。现在却买不起房现在却买不起房现在却买不起房，现在却买不起房。</p>
			<p>现在却买不起房现在却买不起房现在却买不起房，现在却买不起房。卖房创业七年后，现在却买不起房,卖房创业七年后，现在却买不起房。现在却买不起房现在却买不起房现在却买不起房，现在却买不起房。</p>
			<h1><img src="img/playban1.png"></h1>
		</div>
	</main>
</div>	