<link rel="stylesheet" type="text/css" href="css/hot_write.css">
<link rel="stylesheet" type="text/css" href="css/swiper.min.css">

<div id="wrap">
	<header class="header">
		<h1>调节阅读偏好</h1>
		<span id="back" ui-sref="hot">返回</span>
	</header>
	<div class="topnav">
		<p>你的偏好</p>
		<p>添加更多偏好</p>
	</div>
	<main class="main" id="main">
		<div id="banner" class="swiper-container">
			<div class="swiper-wrapper">
				<search class="swiper-slide set1">
					你还没有告诉我们你的阅读偏好哦~
				</search>
				<search class="swiper-slide set2">2</search>
			</div>
		</div>
	</main>
	<footer class="footer">
		确定
	</footer>
</div>