<link rel="stylesheet" type="text/css" href="css/index_n1.css">
<link rel="stylesheet" type="text/css" href="css/swiper.min.css">
<div id="wrap">
	<header class="header">
		<span><img src="img/two_11.png"></span>
		<span>今日看点</span>
		<span><img src="img/two_12.png"></span>
	</header>
	<main class="main" id="main" index-s1>
		<div id="banner" class="swiper-container">
			<div class="swiper-wrapper">
				<section class="swiper-slide set1">
					<div class="banner">
						<img src="img/two_1ban.png" alt="">
					</div>
					<dl class="cont" data-two="three_1">
						<h1 ui-sref="index_n2"><b>卖房创业七年后，现在却买不起房？</b><br><b>看商界</b><b>1小时前</b></h1>
						<h1><b>宁波现山寨世界建筑网友吐槽游遍世界</b><br><b>视觉中国</b><b>24分钟前</b></h1>
					</dl>
					<dl class="cont">
						<h1><b>卖房创业七年后，现在却买不起房？</b><br><b>看商界</b><b>1小时前</b></h1>
						<h1><b>宁波现山寨世界建筑网友吐槽游遍世界</b><br><b>视觉中国</b><b>24分钟前</b></h1>
					</dl>
					<dl class="cont">
						<h1><b>卖房创业七年后，现在却买不起房？卖房创业七年后，现在却买不起房？卖房创业七年后，现在却买不起房？</b><br><b>看商界</b><b>1小时前</b></h1>
					</dl>
				</section>
				<section class="swiper-slide set2">2</section>
				<section class="swiper-slide set3">3</section>
			</div>	
		</div>
		<div class="cont2"><b>1</b>/<b>17</b></div>
	</main>
</div>