<link rel="stylesheet" type="text/css" href="css/index_n2.css">
<link rel="stylesheet" type="text/css" href="css/swiper.min.css">

<div id="wrap">
	<header class="header">
		<span id="back" ui-sref="index">返回</span>
		<span data-html="zan">赞</span>
		<span data-html="fenx">分享</span>
		<span data-html="more">更多</span>
	</header>
	<main class="main" id="main">
		<div class="scroll" index-n2>
			<!-- <div class="title">
				<span>{{i.title}}</span><br><span>看商界</span><span>1小时前</span>
			</div>
			<p>{{i.cont}}</p> -->
			<!-- <div class="title">
				<span>卖房创业七年后，现在却买不起房</span><br><span>看商界</span><span>1小时前</span>
			</div>
			<p>卖房创业七年后，现在却买不起房,卖房创业七年后，现在却买不起房。现在却买不起房现在却买不起房现在却买不起房，现在却买不起房。卖房创业七年后，现在却买不起房,现在却买不起房现在却买不起房现在却买不起房，现在却买不起房。卖房创业七年后，现在却买不起房,卖房创业七年后，现在却买不起房。现在却买不起房现在却买不起房现在却买不起房，现在却买不起房。</p>
			<p>现在却买不起房现在却买不起房现在却买不起房，现在却买不起房。卖房创业七年后，现在却买不起房,卖房创业七年后，现在却买不起房。现在却买不起房现在却买不起房现在却买不起房，现在却买不起房。</p>
			<p>现在却买不起房现在却买不起房现在却买不起房，现在却买不起房。卖房创业七年后，现在却买不起房,卖房创业七年后，现在却买不起房。现在却买不起房现在却买不起房现在却买不起房，现在却买不起房。现在却买不起房现在却买不起房现在却买不起房，现在却买不起房。卖房创业七年后，现在却买不起房,卖房创业七年后，现在却买不起房。现在却买不起房现在却买不起房现在却买不起房，现在却买不起房。</p> -->
		</div>
	</main>
</div>