<link rel="stylesheet" type="text/css" href="./css/style.css">
<link rel="stylesheet" type="text/css" href="./js/Swiper/dist/css/swiper.min.css">
<div id="wrap">
	<header class="header">
		<h1>订阅</h1>
		<span class="search" data-html="search" ui-sref="search">收索</span>
		<span class="myset" data-html="myself" ui-sref="myself">个人</span>
	</header>
	<main class="main" id="main" index-s>
		<div class="scroll">
			<div id="banner" class="swiper-container">
				<ul class="swiper-wrapper">
					<li class="swiper-slide"><img src="img/banner.png"></li>
					<li class="swiper-slide"><img src="img/banner.png"></li>
					<li class="swiper-slide"><img src="img/banner.png"></li>
					<li class="swiper-slide"><img src="img/banner.png"></li>
					<li class="swiper-slide"><img src="img/banner.png"></li>
					<li class="swiper-slide"><img src="img/banner.png"></li>
				</ul>
				<div class="swiper-pagination"></div>
			</div>
			<div class="cont">
				<dl data-two="two_1" ui-sref="index_n1">
					<dt><img src="img/cont1.png"></dt>
					<dd>今日看点</dd>
				</dl>
				<dl>
					<dt><img src="img/cont2.png"></dt>
					<dd>头条新闻</dd>
				</dl>
				<dl>
					<dt><img src="img/cont3.png"></dt>
					<dd>财经新闻</dd>
				</dl>
				<dl>
					<dt><img src="img/cont4.png"></dt>
					<dd>科技频道</dd>
				</dl>
				<dl>
					<dt><img src="img/cont5.png"></dt>
					<dd>视频</dd>
				</dl>
				<dl>
					<dt><img src="img/cont6.png"></dt>
					<dd>奢侈品频道</dd>
				</dl>
				<dl>
					<dt><img src="img/cont7.png"></dt>
					<dd>今日看点</dd>
				</dl>
				<dl>
					<dt><img src="img/cont8.png"></dt>
					<dd>吃货</dd>
				</dl>
				<dl>
					<dt><img src="img/cont9.png"></dt>
					<dd>今日看点</dd>
				</dl>
				<dl>
					<dt><img src="img/cont4.png"></dt>
					<dd>今日看点</dd>
				</dl>
				<dl>
					<dt><img src="img/cont5.png"></dt>
					<dd>今日看点</dd>
				</dl>
				<dl>
					<dt><img src="img/cont6.png"></dt>
					<dd>今日看点</dd>
				</dl>
				<dl>
					<dt><img src="img/cont1.png"></dt>
					<dd>今日看点</dd>
				</dl>
			</div>
		</div>
		
	</main>
	<footer class="footer">
		<nav class="nav" id="footer">
			<a class="on" ui-sref="index"><img src="img/f1.png"><br>订阅</a>
			<a ui-sref="hot"><img src="img/f2.png"><br>热点</a>
			<a ui-sref="bei"><img src="img/f3.png"><br>北京</a>
			<a ui-sref="play"><img src="img/f4.png"><br>玩乐</a>
			<a ui-sref="add"><img src="img/f5.png"><br>社区</a>
		</nav>
	</footer>
</div>