<link rel="stylesheet" type="text/css" href="css/play_n1.css">
<link rel="stylesheet" type="text/css" href="css/swiper.min.css">

<div id="wrap">
	<header class="header">
		<h1>ZAKER俱乐部</h1>
		<span id="back" ui-sref="play">返回</span>
		<span>更多</span>
	</header>
	<main class="main" id="main">
		<div class="scroll">
			<div id="banner" class="swiper-container">
				<ul class="swiper-wrapper">
					<li class="swiper-slide"><img src="img/playban1.png"></li>
					<li class="swiper-slide"><img src="img/playban2.png"></li>
					<li class="swiper-slide"><img src="img/playban1.png"></li>
					<li class="swiper-slide"><img src="img/playban2.png"></li>
					<li class="swiper-slide"><img src="img/playban1.png"></li>
					<li class="swiper-slide"><img src="img/playban2.png"></li>
				</ul>
				<div class="swiper-pagination"></div>
			</div>
			<dl>
				<dt><img src="img/playban2.png"></dt>
				<dd>
					<p><span>费雪*ZAKER校园记者火热招募中</span><br><span><img src="img/time.png"></span><span>正在进行中</span></p>
					<p><img src="img/playban3.png"></p>
				</dd>
			</dl>

			<dl>
				<dt><img src="img/playban1.png"></dt>
				<dd>
					<p><span>搞机团试用第22期：雷凌双擎试用，赢iPhone7大奖</span><br><span><img src="img/time.png"></span><span>正在进行中</span></p>
					<p><img src="img/playban4.png"></p>
				</dd>
			</dl>
		</div>		
	</main>
</div>