<link rel="stylesheet" type="text/css" href="css/search.css">
<link rel="stylesheet" type="text/css" href="css/swiper.min.css">

<div id="wrap">
	<header class="header">
		<h1><img src="img/search2.png" class="search"><input type="text" placeholder="搜索文章和频道"><button id="search">搜索</button></h1>
		<span id="back" ui-sref="index">返回</span>
	</header>
	<div class="topnav">
		<p>精品</p>
		<p>频道</p>
	</div>
	<main class="main" id="main">
		<div id="banner" class="swiper-container">
			<div class="swiper-wrapper">
				<search class="swiper-slide set1">
					<ul>
						<li><img src="img/s1.png"></li>
					</ul>
					<ul>
						<li><img src="img/s2.png"></li>
						<li><img src="img/s3.png"></li>
					</ul>
					<h1>精选</h1>
					<dl>
						<dt><img src="img/s4.png"></dt>
						<dd>
							<h2>观察者网</h2>
							<h3>中国关怀，全球视野</h3>
						</dd>
					</dl>
					<dl>
						<dt><img src="img/s5.png"></dt>
						<dd>
							<h2>观察者网</h2>
							<h3>中国关怀，全球视野</h3>
						</dd>
					</dl>
					<dl>
						<dt><img src="img/s6.png"></dt>
						<dd>
							<h2>观察者网</h2>
							<h3>中国关怀，全球视野</h3>
						</dd>
					</dl>
					<dl>
						<dt><img src="img/s4.png"></dt>
						<dd>
							<h2>观察者网</h2>
							<h3>中国关怀，全球视野</h3>
						</dd>
					</dl>
					<dl>
						<dt><img src="img/s5.png"></dt>
						<dd>
							<h2>观察者网</h2>
							<h3>中国关怀，全球视野</h3>
						</dd>
					</dl>
					<dl>
						<dt><img src="img/s6.png"></dt>
						<dd>
							<h2>观察者网</h2>
							<h3>中国关怀，全球视野</h3>
						</dd>
					</dl>
				</search>
				<search class="swiper-slide set2">2</search>
			</div>
		</div>	
	</main>
</div>